#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 0;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ed4933;
  color: white;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 0 3px 3px 0;
  font-size: 16px;
  box-shadow: none;
  line-height: 1em;
  transition: none;
}

#myBtn:hover {
  background-color: #ef5e4a;
  transition: none;
}