.internalfaqlinebreak {
	padding: 1.75em 0 1.75em 0;
}

.collapsible {
  background-color: #ed4933;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  border: 0;
  text-align: left;
  outline: none;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.225em;
  line-height: 3.125em;
  padding-left: 2.75em;
  padding-right: 3.5em;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.collapsible:hover {
  background-color: #ef5e4a;
}

.active {
  background-color: #ef5e4a;
  border-radius: 3px 3px 0 0;
}

.collapsible:before {
  content: "\002B";
  display: block;
  color: #ffffff;
  font-weight: bold;
  right: 1em;
  top: 50%;
  bottom: 50%;
  font-size: 1.75em;
  position: absolute;
  line-height: 0;
}

.active:before {
  content: "\2212";
}

.faqcontent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(245, 245, 245);
	font-size: 0.8em;
	font-weight: 400;
	letter-spacing: 0.075em;
	line-height: 1.65em;
	padding: 0 2.75em;
	text-decoration: none;
    border-radius: 0 0 3px 3px;
	color: #4E4852;
	margin-bottom: 0.5em;
}

@media screen and (max-width: 736px) {
	.collapsible {
		line-height: 2.125em;
		padding: 1em 3.5em 1em 1em;
	}
	
	.faqcontent {
		padding: 0 1em;
	}
	
	.internalfaqlinebreak {
		padding: 1em 0 1em 0;
	}
}